/* body{ */

    /* gap: 10px; */



    /* How to center a div! */
    /* justify-content: center, flex-start, flex-end, space-around, space-between and space-evenly | Is the position of element of the side of you want
    example: flex-start -> is where the website started before position, flex-end -> is the opposite position of the flex-start,
    flex-end -> is to posite into a center of the website, space-around -> is for each element have space around from him, space-between -> is the space each element but the first element and the last element
    not have space equal anothers elements, space-envely -> each element have space equal*/

    /* min-height:  500px  | is to increase or decrease your transverse axis of the website

    /* align-items: center, flex-start, flex-end, space-evenly, space-between, space-around  | Is to align your elements of the side what you want */



    /*How to use flex direction! */
    /* flex-direction controls the direction of main axis, which influences other flexbox properties
    /* flex-direction: row-reverse, row , column  | This applies direction of the elements and have 3 commands to use in this
    first: row -> row is the normal case if i use or dont use is the same thing
    second: row-reverse -> row-reverse, reverse justify-content in other words when you use flex-start he use flex-end when you use
    flex-end he uses flex-starts.
    third: column -> He transforms your element in a column
    */

    /*flex-shrink: 1; -> is to squeeze the elements


/* } */


.container{
    display: flex;
    flex-direction: flex-start;
    /* gap: 10px; */
    justify-content: space-around;
    background-color: red;
    margin: 0;
    padding: 0;
    align-content: center;
    flex-grow: 5;
}

.children {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 0;
    padding: 0;
    
}
